<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Black Trading Post</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f0f0f0;
    }

    #container {
      text-align: center;
    }

    #svg-image {
      width: 200px; /* Adjust the size as needed */
      height: auto;
    }

    #launching-text {
      font-size: 20px;
      font-weight: bold;
      color: #000;
    }
  </style>
</head>
<body>
  <div id="container">
    <svg id="svg-image" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="7.11111in" height="7.11111in" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd; width: 50px; height: auto;" viewBox="0 0 7111 7111" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <style type="text/css">
          .fil2 {fill:#360B4B}
          .fil1 {fill:#7ED63F}
          .fil0 {fill:#FE5022}
        </style>
      </defs>
      <g id="Layer_x0020_1">
        <metadata id="CorelCorpID_0Corel-Layer"/>
        <path class="fil0" d="M3096 2147c-42,-76 -86,-154 -140,-238 -311,-477 -842,-1048 -888,-1097 -36,-37 -47,-92 -25,-139 53,-117 61,-186 56,-224 -198,310 -755,584 -879,633 -10,5 -22,7 -33,8 -150,14 -173,196 -134,230 7,6 33,7 79,-15 117,-55 231,-26 323,-2 35,9 67,17 95,20 145,14 315,-83 369,-122 81,-58 196,4 191,104 -17,372 56,837 148,1426 36,226 75,476 113,746 344,-101 699,157 699,523 0,251 -171,463 -403,526 20,75 57,181 126,330 95,204 89,644 82,1109 -4,290 -8,590 15,797 8,70 -49,134 -120,134 -111,0 -145,46 -162,109l522 0c-9,-160 -13,-271 12,-342 52,-152 45,-748 29,-1091 -71,-527 155,-879 275,-1025 -24,-39 -40,-54 -74,-59 -66,-11 -111,-73 -100,-138 10,-66 72,-111 138,-101 178,28 228,156 288,248 54,81 68,246 94,596 26,363 60,814 163,1067 2,3 3,7 4,11 62,201 48,370 46,537 -2,82 -6,136 -6,138 -5,63 -57,112 -120,112 -45,0 -98,6 -118,47l427 0c-74,-162 6,-282 4,-433 -2,-111 -40,-314 -55,-442 -62,-541 -103,-1476 -98,-1509 10,-77 92,-124 165,-95 194,79 364,68 473,45 -58,-111 -95,-229 -78,-341 10,-66 72,-111 138,-101 66,10 111,71 101,137 -26,170 241,465 380,588 283,183 464,455 548,603 137,242 6,379 96,679 55,183 163,354 138,560 -34,277 -227,265 -253,309l394 0c-3,-75 -4,-156 26,-260 90,-311 -178,-554 -31,-1126 1,-3 2,-6 3,-9 62,-180 -60,-360 -200,-568 -55,-81 -112,-165 -161,-253 -53,-97 -35,-232 -13,-403 23,-173 38,-333 17,-471 -101,159 -279,265 -481,265 -437,0 -703,-467 -503,-840 -258,-79 -386,-171 -518,-266 -108,-79 -220,-159 -425,-245 -473,-168 -606,-406 -759,-682zm-740 436c0,-228 186,-414 414,-414 229,0 415,186 415,414 0,229 -186,415 -415,415 -228,0 -414,-186 -414,-415zm856 950c0,-229 186,-415 415,-415 229,0 415,186 415,415 0,228 -186,415 -415,415 -229,0 -415,-187 -415,-415z"/>
        <path class="fil1" d="M2828 4000c0,-220 -227,-364 -424,-279 35,171 230,305 250,553 103,-48 174,-153 174,-274z"/>
        <path class="fil1" d="M2770 2757c96,0 174,-78 174,-174 0,-95 -78,-173 -174,-173 -95,0 -173,78 -173,173 0,96 78,174 173,174z"/>
        <path class="fil1" d="M3627 3359c-95,0 -173,78 -173,174 0,95 78,173 173,173 96,0 173,-78 173,-173 0,-96 -77,-174 -173,-174z"/>
        <path class="fil1" d="M5046 3402c-173,211 -25,536 255,536 183,0 329,-149 328,-331 -80,-74 -195,-130 -358,-165 -83,-13 -157,-26 -225,-40z"/>
        <path class="fil0" d="M5432 5387c-86,-113 -203,-240 -351,-334 -2,-1 -4,-3 -6,-4 27,144 53,309 68,475 18,193 -21,446 -56,668 -17,107 -32,208 -38,285 -13,150 73,341 -201,492 -20,11 -40,15 -52,36l342 0c0,-145 -12,-299 99,-434 35,-47 55,-290 69,-451 20,-252 44,-536 126,-733z"/>
        <path class="fil2" d="M5162 4041c-437,0 -703,-467 -502,-840 -259,-79 -387,-171 -519,-266 -108,-79 -220,-159 -425,-245 -473,-168 -606,-406 -759,-682 -42,-76 -86,-154 -140,-238 -311,-477 -842,-1047 -888,-1097 -36,-37 -47,-92 -25,-138 53,-118 61,-187 57,-225 -199,310 -756,584 -879,633 -11,5 -22,7 -34,8 -150,14 -173,196 -134,230 7,6 33,7 79,-15 117,-55 231,-26 323,-2 35,9 67,17 95,20 145,14 315,-83 369,-122 81,-58 196,4 191,104 -17,372 56,837 148,1426 36,226 75,476 113,746 344,-101 699,157 699,523 0,251 -171,463 -403,526 20,75 57,181 126,330 95,204 89,644 82,1109 -4,290 -8,590 15,797 8,70 -49,134 -120,134 -111,0 -145,46 -162,109l522 0c-9,-160 -13,-271 12,-342 52,-152 45,-748 29,-1091 -71,-527 155,-879 275,-1025 -24,-39 -40,-54 -74,-59 -66,-11 -111,-73 -100,-138 10,-66 72,-111 138,-101 178,28 228,156 288,248 54,81 68,246 94,596 26,363 60,814 163,1067 2,3 3,7 4,11 62,201 48,370 46,537 -2,82 -6,136 -6,138 -5,63 -57,112 -120,112 -45,0 -98,6 -118,47l427 0c-74,-162 6,-282 4,-433 -2,-111 -40,-314 -55,-442 -62,-541 -103,-1476 -98,-1509 10,-77 92,-124 165,-95 194,79 364,68 473,45 -58,-111 -95,-229 -78,-341 10,-66 72,-111 138,-101 66,10 111,71 101,137 -26,170 241,465 380,588 283,183 464,455 548,603 137,242 6,379 96,679 55,183 163,354 138,560 -34,277 -227,265 -253,309l394 0c-3,-75 -4,-156 26,-260 90,-311 -178,-554 -31,-1126 1,-3 2,-6 3,-9 62,-180 -60,-360 -200,-568 -55,-81 -112,-165 -161,-253 -53,-97 -35,-232 -13,-403 23,-173 38,-333 17,-471 -101,159 -279,265 -481,265 -437,0 -703,-467 -503,-840 -258,-79 -386,-171 -518,-266 -108,-79 -220,-159 -425,-245 -473,-168 -606,-406 -759,-682zm-740 436c0,-228 186,-414 414,-414 229,0 415,186 415,414 0,229 -186,415 -415,415 -228,0 -414,-186 -414,-415zm856 950c0,-229 186,-415 415,-415 229,0 415,186 415,415 0,228 -186,415 -415,415 -229,0 -415,-187 -415,-415z"/>
      </g>
    </svg>
    <div id="launching-text">Black Trading Post Launching Soon...</div>
  </div>
</body>
</html>
